[submodule "frontend"]
	path = frontend
	url = https://github.com/nikonikoni4/frontend-of-lifewatchai.git
[submodule "lifeprism/llm/custom_prompt"]
	path = lifeprism/llm/custom_prompt
	url = https://github.com/nikonikoni4/lifeprism_custom_prompt.git
 